<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/code.css">
    <link rel="stylesheet" href="../css/ace-customized.css">

    <script src="../scripts/jquery.js"></script>
    <script src="../scripts/code-sender.js"></script>

    <script src="../external/ace/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="../external/ace/src-noconflict/ext-language_tools.js"></script>
    <script src="../scripts/editor-config.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div id="task-section">
        <div class="title">
            <div class="task-title">Hello Word</div>
            <div class="run-code">Run code</div>
            <div class="help">Help</div>
        </div>
        <div class="task">
            <div class="task-condition">Here is a description of the task</div>

            <div class="program-section">
                <div id="code-editor"></div>
                <div class="input-section">
                    <textarea placeholder="Here is input"></textarea>
                </div>
                <div class="output-section">
                    <textarea readonly placeholder="Here would be an output"></textarea>
                </div>
                <div class="compilation-error">
                    <textarea readonly placeholder="Here is a compilation result"></textarea>
                </div>
            </div>
        </div>
    </div>
</body>
</html>