<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://remotemysql.com:3306/XqvXiEzad3</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">XqvXiEzad3</property>
        <property name="connection.password">Ns6xzAOau6</property>

        <property name="hibernate.connection.pool_size">1</property>

        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        <property name="connection.pool_size">20</property>

        <mapping class="com.school.domain.code.task.Task"/>
        <mapping class="com.school.domain.code.task.Class"/>
        <mapping class="com.school.domain.code.task.Requirement"/>
        <mapping class="com.school.domain.code.task.verification.Test"/>

    </session-factory>
</hibernate-configuration>